//------------ body -----------//

$body_primary: #E4E5E7;

// -------  header --------//

$brand_primary: #121921;
$brand_primary_light: #233040;
$brand_tertiary:#FCBC6D;
$brand_secondary: #D3D6DD;
$brand_secondary_dark: #8B949D;

// ------- main --------//

$color_discount: #C3264B;